<!-- 
<div class="container-fluid p-0 bgImg">
  <div class="container" style="position: relative;  height: 100%;">

    <div class="row d-flex justify-content-center indBoard">
      <div class="col-lg-2 col-md-4 bgWh">
        <div class="row no-gutters">

          <div class="col-md-3 indiDiv">
            <div class="greenIndicator indicator " [ngClass]="{'show': selectedIndex==1}"></div>
            <div class="orangeIndicator indicator show" [ngClass]="{'show': selectedIndex==2}"></div>
            <div class="redIndicator indicator" [ngClass]="{'show': selectedIndex==3}"></div>
          </div>

          <div class="col-md-9 bordCont">
            <h4>{{textDisplay[selectedIndex-1].heading}}</h4>
            <p>{{textDisplay[selectedIndex-1].description}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center valueBoard">
      <div class="col-lg-6 col-md-4 bgWh" id="effect3d">
        <ul>
          <li>
            <img src="assets/images/humidity.png">
            <div class="webvalues">Humidity<br><span>{{humidity}} %</span></div>
            <div class="mobValues">Humi <span>{{humidity}} %</span></div>
          </li>
          <li>
            <img src="assets/images/thermometer.png">
            <div class="webvalues">Temperature<br><span>{{atemp}} &#8451;</span></div>
            <div class="mobValues">Temp <span>{{atemp}} &#8451;</span></div>
          </li>
          <li>
            <img src="assets/images/light.png">
            <div class="webvalues">Intensity<br><span>{{lum}} Lux</span></div>
            <div class="mobValues">Inten <span>{{lum}} Lux</span></div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row light-row">
      <div class="container">
        <img src="assets/images/light{{selectedLight}}.png" class="light-left">
        <img src="assets/images/light{{selectedLight}}.png" class="light-right">
      </div>
    </div>


    <div class="leftTrays">
      <img src="assets/images/hydroponic{{selectedIndex}}.png" class="tray-2">
      <img src="assets/images/hydroponic{{selectedIndex}}.png" class="tray-1">
      <img src="assets/images/hydroponic{{selectedIndex}}.png" class="tray0">
      <img src="assets/images/hydroponic{{selectedIndex}}.png" class="tray1">
      <img src="assets/images/hydroponic{{selectedIndex}}.png" class="tray2">
      <img src="assets/images/hydroponic{{selectedIndex}}.png" class="tray3">
    </div>
    <div class="tank1">
      <div class="waterFlow"
        style="width: 100%;  width: 420px; overflow: hidden;">
        <img src="assets/images/waterflow{{selectedIndex}}.gif" class="waterwave">
        <img src="assets/images/tank{{selectedIndex}}.png" class="tankwater">
      </div>
      <div class="values">
         <div class="value">
            <img src="assets/images/humidity.png">
            <div class="v-amount">Temperature<br><span>{{wtem}}&#8451;</span></div>
         </div>
        <div class="value">
          <img src="assets/images/conductivity.png">
          <div class="v-amount">Conductivity<br><span>{{cond}} µs/cm</span></div>
        </div>
      </div>
    </div>
    <div class="rightTrays">
      <img src="assets/images/hydroponicR{{selectedIndex}}.png" class="tray4">
      <img src="assets/images/hydroponicR{{selectedIndex}}.png" class="tray5">
      <img src="assets/images/hydroponicR{{selectedIndex}}.png" class="tray6">
      <img src="assets/images/hydroponicR{{selectedIndex}}.png" class="tray7">
      <img src="assets/images/hydroponicR{{selectedIndex}}.png" class="tray8">
      <img src="assets/images/hydroponicR{{selectedIndex}}.png" class="tray9">
    </div>
    <div class="tank2">
      <div class="waterFlow"
        style="width: 100%; height: 80px; width: 300px; overflow: hidden; border: 3px solid #dadada;">
        <img src="assets/images/waterflow{{selectedIndex}}.gif" class="waterwave">
        <img src="assets/images/tank{{selectedIndex}}.png" width="300" class="tankwater" style="height: 80px;">
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid p-0 bg-farm" style="background-image: url('assets/images/healthy1.jpg');">
    <div class="row m-0">
        <div class="container">
          <div class="col-md-5 value-board">
            <ul>
              <li>
                <img src="assets/images/humidity.png">
                <div class="webvalues">Humidity<br><span>50 %</span></div>
                <div class="mobValues">Humi <span>{{humidity}} %</span></div>
              </li>
              <li>
                <img src="assets/images/thermometer.png">
                <div class="webvalues">Temperature<br><span>27 &#8451;</span></div>
                <div class="mobValues">Temp <span>{{atemp}} &#8451;</span></div>
              </li>
              <li>
                <img src="assets/images/light.png">
                <div class="webvalues">Intensity<br><span>4200 Lux</span></div>
                <div class="mobValues">Inten <span>{{lum}} Lux</span></div>
              </li>
            </ul>
            <span class="statusSpan">
              Growth is high with the present optimum condition.
            </span>
          </div>
        </div>

        <div class="container water-temp">
            <div class="col-md-2 cardW">
                <ul>
                  <li>
                    <img src="assets/images/humidity.png">
                    <div class="webvalues">Temperature<br><span>27 &#8451;</span></div>
                    <div class="mobValues">Temp <span>27 &#8451;</span></div>
                  </li>
                  <li>
                    <img src="assets/images/conductivity.png">
                    <div class="webvalues">Conductivity<br><span>2.5 µs/cm</span></div>
                    <div class="mobValues">Cond <span>2.5 µs/cm</span></div>
                  </li>
                </ul>
            </div>
            <div class="col-md-2 cardW">
              <ul>
                <li>
                  <img src="assets/images/humidity.png">
                  <div class="webvalues">Temperature<br><span>27 &#8451;</span></div>
                  <div class="mobValues">Temp <span>27 &#8451;</span></div>
                </li>
                <li>
                  <img src="assets/images/conductivity.png">
                  <div class="webvalues">Conductivity<br><span>4200 Lux</span></div>
                  <div class="mobValues">Cond <span>2.5 µs/cm</span></div>
                </li>
              </ul>
            </div>
        </div>
    </div>
</div>