.bgImg {
	background-image: url('../assets/images/bg-shed.jpg');
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	position: relative;
}
.leftTrays{
	position: absolute;
	top: 35%;
	left: 5%;
	display: flex;
	flex-direction: column;
}
.rightTrays{
	position: absolute;
	top: 35%;
	right: 5%;
	display: flex;
	flex-direction: column;
}
.tray-2{
	position: relative;
	margin-bottom: -10.5rem;
	transform: scale(0.7);
	margin-left: 25%;
}
.tray-1{
	position: relative;
	margin-bottom: -10rem;
	transform: scale(0.7);
	margin-left: 24%;
}
.tray0{
	position: relative;
	margin-bottom: -9.8rem;
	transform: scale(0.75);
	margin-left: 20%;
}
.tray1{
	position: relative;
	margin-bottom: -9.5rem;
	transform: scale(0.8);
	margin-left: 16%;
}
.tray2{
	position: relative;
	margin-bottom: -9.5rem;
	transform: scale(0.95);
	margin-left: 8%;
}
.tray3{
	position: relative;
	transform: scale(1);
	left: 4%;
}
.tray4{
	position: relative;
	margin-bottom: -10.5rem;
	transform: scale(0.7);
	margin-left: -26%;
}
.tray5{
	position: relative;
	margin-bottom: -10.5rem;
	transform: scale(0.7);
	margin-left: -24%;
}
.tray6{
	position: relative;
	margin-bottom: -10rem;
	transform: scale(0.75);
	margin-left: -20%;
}
.tray7{
	position: relative;
	margin-bottom: -9.5rem;
	transform: scale(0.8);
	margin-left: -16%;
}
.tray8{
	position: relative;
	margin-bottom: -9.5rem;
	transform: scale(0.9);
	margin-left: -10%;
}
.tray9{	
	position: relative;
	transform: scale(1);
	margin-left: -4%;
}
.tank1{
	position: absolute;
	left: 8%;
	bottom: 20%;
}
.tank2{
	position: absolute;
	right: 10%;
	bottom: 20%;
}
.leftTrays img{
	width: 22rem;
}
.rightTrays img{
	width: 22rem;
}

.tank2 .waterFlow{
	margin-left: 5%;
}
.tank1 .waterFlow{
	margin-left: 5%;
}

.waterFlow{
	position: relative;
	z-index: 999;
}
.tank1 img, .tank2 img{
	position: absolute;
	top: 0;
}

.btn-div {
	position: fixed;
	bottom: 0;
	display: flex;
	width: 100%;
	z-index: 9999;
	button {
		margin: 10px;
	}
}
.selected{
	border-color: #28a745 !important;
	background-color: #28a745 !important;;
}
.indicator{
	width: 28px;
	height: 28px;
	border-radius: 50%;
	// border: 3px solid #fff;
	opacity: 0.5;
}
.greenIndicator{	
	background-color: #33cd2f;	
}
.orangeIndicator{
	background-color: #ff9501;
}
.redIndicator{
	background-color: #d60103;
}
.indicator.show{
	border: 3px solid #fff;
	opacity: 1;
}
.indiDiv{
	background-color: rgb(77, 77, 77); 
	height: 8rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.bordCont{
	padding: 10px !important;
	h4{
		font-size: 1rem;
	}
	p{
		font-size: 0.8rem;
		line-height: 15px;
		margin-bottom: 0;
	}
}
.indBoard{
	position: relative; 
	z-index: 9999; 
	top: 15%;
	.bgWh{
		background-color: #fff; 
		height: 8rem; 
		padding: 0;
	}
}

.waterwave::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: red;
}
.light-row{
	position: absolute;
	top: 10%;
	width: 100%;
}
.light-row .container{
	width: 100%;
	position: relative;
}
.light-row img{
	width: 10rem;
}
.light-left{
	left: 22%;
	position: absolute;
}
.light-right{
	right: 20%;
	position: absolute;
}
.valueBoard{
	position: relative; 
	z-index: 9999; 
	top: 40%;
	.bgWh{
		background-color: #fff; 
		padding: 1rem;
		ul{
			list-style: none;
			padding-left: 0;
			li{
				display: flex;
				margin-bottom: 1rem;
				align-items: center;
				img{
					width: auto;
					height: 2rem;
					margin-right: 10px;
				}
				div{
					font-size: 0.9rem;
					font-weight: 500;
					span{
						font-weight: 900;
					}
				}
			}
		}
	}

}



// @media only screen and (max-width: 1400px) {
// 	.leftTrays{
// 		bottom: 15%;
// 		top: auto;
// 	}
// 	.rightTrays{
// 		bottom: 15%;
// 		top: auto;
// 	}
// 	.tank1{
// 		bottom: 15%;
// 		top: auto;
// 	}
// 	.tank2{
// 		bottom: 15%;
// 		top: auto;
// 		right: 11%;
// 	}
// 	.tray4{
// 		    margin-left: -17%;
// 	}
// 	.tray5{
// 		margin-left: -14%;
// 		transform: scale(0.75);
// 	}
// 	.tray9{
// 		margin-left: 0%;
// 	}
// 	.tray8{
// 		margin-left: -3%;
// 		transform: scale(0.95);
// 	}
// 	.tray7{
// 		    transform: scale(0.9);
//     margin-left: -6%;
// 	}
// 	.tray6{
// 		    transform: scale(0.8);
//     margin-left: -11%;
// 	}
// 	.tank2 .waterFlow{
// 		margin-left: 13%;
// 	}
// 	.tank1 .waterFlow{
// 		margin-left: 5%;
// 	}
// 	.indBoard{
// 		top: 37%;
// 	}
// 	.valueBoard{
// 		top: 50%;
// 	}
// 	.light-row{
// 		top: 25%;
// 	}
// }



div#effect3d  {         
	margin-bottom: 0;
	margin-top: 0;
	border-top-width:4px;
	border-bottom-width:1px;
	-webkit-transform: perspective(500px) rotateX(35deg);    
	transform: perspective(500px) rotateX(35deg);  
}


 .light-row{
    top: 0% !important;
}
.tank1{
	bottom: 13% !important;
}
.tank2{
	bottom: 14% !important;
}



